# PyCity School Analysis
 
Based on the analysis and test reports summary created for both (District wide and school wise ), the two key observations on the current trends are: 

##School Type impact on Performance
One noticeable trend is that Charter Schools outperform district schools in terms of overall passing percentage. 
All top 5 performing schools, with the highest overall passing percentages are charter schools and in contrast, district schools are in bottom.

##Budget per Student and Performance:
If we analyze scores by schools spending data, another noticeable trend is the relationship between per student budget and student performance.
The data indicates that schools with lower per student budgets often outperform schools with higher per student budgets.
For instance, “Cabrera High School” has  $582 budget per student and have 91.33 percent overall passing rate.

In [57]:
# import dependent libraries
import pandas as pd
from pathlib import Path

In [58]:
# path for Files to Load 
schoolData_filePath = Path("Resources/schools_complete.csv")
studentData_filePath = Path("Resources/students_complete.csv")

# Read School and Student Data Files and store into Pandas DataFrames
schoolData = pd.read_csv(schoolData_filePath)
studentData = pd.read_csv(studentData_filePath)

In [59]:
# Merge both files data into a single dataset.  
complete_school_df = pd.merge(studentData, schoolData, how="left", on=["school_name","school_name"])
complete_school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [60]:
#Calculate total number of unique schools
Total_schools_num = complete_school_df["school_name"].unique().size
Total_schools_num

15

In [61]:
#Calculate total students
Total_students = complete_school_df["student_name"].count()
Total_students

39170

In [62]:
#Calculate total budget
Total_budget = complete_school_df.groupby("school_name").min()["budget"].sum()
Total_budget

24649428

In [63]:
#Calculate Average math score
Avg_math_score = complete_school_df["math_score"].mean()
Avg_math_score

78.98537145774827

In [64]:
#Calculate Average reading score
Avg_reading_score = complete_school_df["reading_score"].mean()
Avg_reading_score

81.87784018381414

In [65]:
#Calculate the percentage of students who passed math
total_students = complete_school_df["student_name"].size
passing_math_count = complete_school_df[complete_school_df['math_score']>=70].count()["student_name"]
passed_math_percent = passing_math_count/total_students*100
passed_math_percent

74.9808526933878

In [66]:
#Calculate the percentage of students who passed reading
total_students = complete_school_df["student_name"].count()
passing_read_count = complete_school_df[complete_school_df["reading_score"]>=70].count()["reading_score"]
passed_reading_percent= passing_read_count/total_students*100
passed_reading_percent

85.80546336482001

In [67]:
#Calculate the percentage of students who passed both math and reading
mathReading_pass_count = complete_school_df[(complete_school_df["math_score"]>=70) & 
                                            (complete_school_df["reading_score"]>=70)].count()["student_name"]
mathReading_pass_percent = mathReading_pass_count/total_students*100
mathReading_pass_percent

65.17232575950983

In [68]:
#create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"total_schools_num":Total_schools_num,"Total_students":Total_students,
                                 "Total_budget":Total_budget,"Avg_math_score":Avg_math_score,
                                 "Avg_reading_score":Avg_reading_score,"% passing math":passed_math_percent,
                                 "% passing reading":passed_reading_percent,
                                 "total pass %":mathReading_pass_percent},index =[0])

#Data formatting for total_students and total_budget columns
district_summary["Total_students"] = district_summary["Total_students"].map("{:,}".format)
district_summary["Total_budget"]= district_summary["Total_budget"].map('${0:,.2f}'.format)
district_summary

,total_schools_num,Total_students,Total_budget,Avg_math_score,Avg_reading_score,% passing math,% passing reading,total pass %
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

### School Summary

In [69]:
#Use complete_school data to find out all school names
school_names = complete_school_df["school_name"].unique()
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [70]:
#Find out Types of schools 
school_types = complete_school_df.groupby("school_name")["type"].unique()
school_types

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [71]:
#Calculate the total student count per school
Per_School_students = complete_school_df.groupby("school_name")["student_name"].count()
Per_School_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [72]:
#Calculate per school budget
Per_school_budget = complete_school_df.groupby("school_name")["budget"].mean()
Per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [73]:
#Calculate Per student budget
Per_student_budget = Per_school_budget/Per_School_students
Per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [74]:
#Calculate Average Math score per school
Avg_math_score = complete_school_df.groupby("school_name")["math_score"].mean()
Avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [75]:
#Calculate Average Reading score per school
Avg_reading_score = complete_school_df.groupby("school_name")["reading_score"].mean()
Avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

# % passing math

In [76]:
#total_students per school
total_students = complete_school_df.groupby("school_name")["student_name"].count()
#number of students scored >=70, per school
passing_math = complete_school_df[complete_school_df['math_score']>=70]
passing_math_count = passing_math.groupby(["school_name"]).size()
#Calculate num of students pass math
passed_math_percent = passing_math_count/total_students*100
passed_math_percent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

# % passing reading

In [77]:
#count total students per school
total_students = complete_school_df.groupby("school_name")["student_name"].size()
#calculate number of students who scored >=70 in reading, per school
passing_reading = complete_school_df[complete_school_df["reading_score"]>=70]
passing_reading_count = passing_reading.groupby("school_name").size()
#Calculate num of students pass reading
passed_reading_percent = passing_reading_count/total_students*100
passed_reading_percent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

## Overall passing%

In [78]:
#total students school wise
total_students = complete_school_df.groupby("school_name")["student_name"].count()
#count number of students school wise who scored >=70 in both reading and math
passing_math_reading = complete_school_df[(complete_school_df["math_score"]>=70) &
                                          (complete_school_df["reading_score"]>=70)]
passing_math_reading_count = passing_math_reading.groupby("school_name").size()
#calculate percentage of students of passed in both(math & reading) school wise
passing_math_reading_percent = (passing_math_reading_count/total_students)*100
passing_math_reading_percent

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [79]:
#Create a DataFrame that summarizes key metrics about each school
SchoolSummary_df = pd.DataFrame({"School_Types":school_types,
                               "Total_students":Per_School_students,"Total_school_budget":Per_school_budget,
                                 "Per_student_budget":Per_student_budget,
                              "Avg_math_score":Avg_math_score,"Avg_reading_score":Avg_reading_score,
                              "passed_math %":passed_math_percent,
                               "passed_reading %":passed_reading_percent,"overall passing %":passing_math_reading_percent})

#Data formatting for total_students and total_budget columns
SchoolSummary_df["Total_school_budget"]= SchoolSummary_df["Total_school_budget"].map('${0:,.2f}'.format)
SchoolSummary_df.head(1)

,School_Types,Total_students,Total_school_budget,Per_student_budget,Avg_math_score,Avg_reading_score,passed_math %,passed_reading %,overall passing %
school_name,,,,,,,,,
Bailey High School,[District],4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.93328,54.642283

# Highest-Performing Schools (by % Overall Passing)

In [80]:
#Highest-Performing Schools (by % Overall Passing)
top_schools = SchoolSummary_df["overall passing %"].sort_values(ascending = False).head()
top_schools

school_name
Cabrera High School    91.334769
Thomas High School     90.948012
Griffin High School    90.599455
Wilson High School     90.582567
Pena High School       90.540541
Name: overall passing %, dtype: float64

In [81]:
#Lowest-Performing Schools (by % Overall Passing)
bottom_schools = SchoolSummary_df["overall passing %"].sort_values(ascending = False).tail()
bottom_schools

school_name
Johnson High School      53.539172
Hernandez High School    53.527508
Huang High School        53.513884
Figueroa High School     53.204476
Rodriguez High School    52.988247
Name: overall passing %, dtype: float64

# Math Scores by Grade

In [82]:
# Use the Complete School Data to separate the data by grade for math

In [83]:
#Nineth Grade
ninth_grade= complete_school_df.loc[(complete_school_df['grade']== '9th')]
ninth_grade_math_scores = ninth_grade.groupby('school_name')['math_score'].mean()
ninth_grade_math_scores

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [84]:
#tenth Grade
tenth_graders= complete_school_df.loc[(complete_school_df['grade']== '10th')]
tenth_grader_math_scores = tenth_graders.groupby('school_name')['math_score'].mean()
tenth_grader_math_scores

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [85]:
#eleventh Grade
eleventh_graders= complete_school_df.loc[(complete_school_df['grade']== '11th')]
eleventh_graders_math_scores = eleventh_graders.groupby('school_name')['math_score'].mean()
eleventh_graders_math_scores

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [86]:
#twelfth Grade
twelfth_graders= complete_school_df.loc[(complete_school_df['grade']== '12th')]
twelfth_graders_math_scores = twelfth_graders.groupby('school_name')['math_score'].mean()
twelfth_graders_math_scores

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [87]:
#create a DataFrame that lists the average math score for students of 
#each grade level (9th, 10th, 11th, 12th) at each school.
math_scores_by_grade = pd.concat([ninth_grade_math_scores,
                                  tenth_grader_math_scores, 
                                  eleventh_graders_math_scores,
                                  twelfth_graders_math_scores], axis=1)

math_scores_by_grade.columns = ['9th','10th','11th','12th']
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Scores by Grade

In [88]:
# Use the Complete School Data to separate the data by grade for reading

In [89]:
#9th
ninth_grade= complete_school_df.loc[(complete_school_df['grade']== '9th')]
ninth_grade_reading_scores = ninth_grade.groupby('school_name')['reading_score'].mean()
ninth_grade_reading_scores

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [90]:
#tenth
tenth_graders= complete_school_df.loc[(complete_school_df['grade']== '10th')]
tenth_grader_reading_scores = tenth_graders.groupby('school_name')['reading_score'].mean()
tenth_grader_reading_scores

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [91]:
#eleventh
eleventh_graders= complete_school_df.loc[(complete_school_df['grade']== '11th')]
eleventh_graders_reading_scores = eleventh_graders.groupby('school_name')['reading_score'].mean()
eleventh_graders_reading_scores

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [92]:
#twelfth
twelfth_graders= complete_school_df.loc[(complete_school_df['grade']== '12th')]
twelfth_graders_reading_scores = twelfth_graders.groupby('school_name')['reading_score'].mean()
twelfth_graders_reading_scores

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [93]:
#create a DataFrame that lists the average reading score for students of 
#each grade level (9th, 10th, 11th, 12th) at each school.
reading_scores_by_grade = pd.concat([ninth_grade_reading_scores,
                                     tenth_grader_reading_scores, 
                                  eleventh_graders_reading_scores,
                                     twelfth_graders_reading_scores], axis=1)

reading_scores_by_grade.columns = ['9th','10th','11th','12th']
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores by School Spending

In [94]:
#Create a list of bins and labels
spending_bins = [0, 585, 630, 645, 680]
new_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [95]:
# Create a copy of the  school summary since it has the "Per Student Budget" 
school_spending_df = SchoolSummary_df.copy()

In [96]:
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(school_spending_df['Per_student_budget'], 
                                                             bins=spending_bins,labels = new_labels)

In [97]:
school_spending_df.head(3)

,School_Types,Total_students,Total_school_budget,Per_student_budget,Avg_math_score,Avg_reading_score,passed_math %,passed_reading %,overall passing %,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,[District],4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,[Charter],1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,[District],2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645

In [98]:
#Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Avg_math_score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Avg_reading_score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["passed_math %"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["passed_reading %"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["overall passing %"].mean()

In [99]:
# Use the above calculated scores to create a DataFrame 
spending_summary = pd.DataFrame({
    "Avg_math_score":spending_math_scores,
    "Avg_reading_score":spending_reading_scores,
    "passed_math %":spending_passing_math,
    "passed_reading %":spending_passing_reading,
    "overall passing %":overall_passing_spending})
# Display results
spending_summary

,Avg_math_score,Avg_reading_score,passed_math %,passed_reading %,overall passing %
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [100]:
## Assign Labels and bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
# Create a copy of the  school summary since it has the "Per Student Budget" 
per_school_summary = SchoolSummary_df.copy()
per_school_summary['School Size'] = pd.cut(per_school_summary['Total_students'], 
                                                             bins=size_bins,labels = labels)
per_school_summary.head(3)

,School_Types,Total_students,Total_school_budget,Per_student_budget,Avg_math_score,Avg_reading_score,passed_math %,passed_reading %,overall passing %,School Size
school_name,,,,,,,,,,
Bailey High School,[District],4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,[Charter],1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,[District],2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)

In [101]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Avg_math_score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Avg_reading_score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["passed_math %"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["passed_reading %"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["overall passing %"].mean()

In [102]:
#Create a data frame to summarize above calculated scores
size_summary = pd.DataFrame({
    "Avg_math_score":size_math_scores,
    "Avg_reading_score":size_reading_scores,
    "passed_math %":size_passing_math,
    "passed_reading %":size_passing_reading,
    "overall passing %":size_overall_passing})
size_summary

,Avg_math_score,Avg_reading_score,passed_math %,passed_reading %,overall passing %
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

# Scores by School Type

In [108]:
per_school_summary.head(1)

,School_Types,Total_students,Total_school_budget,Per_student_budget,Avg_math_score,Avg_reading_score,passed_math %,passed_reading %,overall passing %,School Size
school_name,,,,,,,,,,
Bailey High School,D,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)

In [109]:
#Using lamda function to extract first letter of School_Types to use groupby function on this
per_school_summary['School_Types'] = per_school_summary['School_Types'].apply(lambda x: x[0])

In [111]:
# Group the per_school_summary DataFrame by "School_Types" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School_Types"])["Avg_math_score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School_Types"])["Avg_reading_score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School_Types"])["passed_math %"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School_Types"])["passed_reading %"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School_Types"])["overall passing %"].mean()

# Create a DataFrame that summarizes key metrics about each school
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

# Display the results
type_summary.index = type_summary.index.map({"C": "Charter", "D": "District"})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School_Types,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208